@media screen and (max-width: 992px) {


    .mobile-btn{
        display: flex;
        z-index: 12;
    }
    .show-mobile-btn span{
        background: transparent;
    }
    .show-mobile-btn span::before,
    .show-mobile-btn span::after{
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .show-mobile-btn span::before{
        transform: rotate(45deg);
    }
    .show-mobile-btn span::after{
        transform: rotate(-45deg);
    }
    .header-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(237,76,92,1) 59%);
        height: 100%;
        width: 100%;
        top: 0;
        right: -100%;
        z-index: 11;
        transition: .7s;
    }
    .show-menu{
        right: 0;
    }
    .show-header-link{
        font-size: 20px;
        margin-bottom: 18px;
        padding: 20px 0;
        border: 1px solid #333333;
        width: 185px;
        text-align: center;
        border-radius: 8px;
    }
    .show-header-link:after {
        background: black;
}
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
        .container{
            width: 650px;
        }

        .col-6{
            width: 100%;
        }
    .sellers-col{
    width: 100%;
        text-align: center;
    }
    .each-content{
        width: 100%;
    }
    .col-4{
        width: 50%;
    }
    .sellers-col{
        width: 100%;
        text-align: center;
    }
    .each-col {
        width: 100%;
        text-align: center;
    }
    .people-col{
        margin-top: -170px;
    }
    .people-item{
        margin-bottom: 40px;
    }
    .culture-item{
        margin-top: -58px
    }
    .power-item{
        margin-top: -150px;
        margin-bottom: 40px;
        margin-left: 25%;
    }
    .people-item{
        margin-left: 25%;
    }
    .people-img{
        margin-left: 17%;
    }
    .culture-item{
        margin-left: 25%;
    }
    .culture-img{
        margin-left: -15%;
    }
    .power-img{
        margin-left: 10%;
    }
    .hero-item-2{
        margin-left: 25%;
    }
}
@media screen and (max-width: 680px) {
    .container{
        width: 480px;
    }
.col-4, .col-6 {
    width: 100%;
}
.sellers-content-1{
    margin-bottom: -180px;
    margin-right: 50px;
}
.sellers-img-1,.sellers-img-2{
    margin-left: 10%;
}

    .sellers-img-3{
        margin-left: -10%;
    }
.each-img-1,.each-img-2{
    margin-left: 100px;
}
.each-img-3{
    margin-left: 9px;
}














}






